@import 'https://fonts.googleapis.com/css?family=Open Sans:400,700,900';

/** Site wide defaults **/
html {
    margin: 0;
    height: 100%;
    min-height: 300px;
    background: #f9f9f9;
    -webkit-font-smoothing: antialiased; 
}

body {
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    font-family: 'Open Sans','Helvetica Neue';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #333;
}

h2 {
    font-size: 24px;
    font-family: 'Open Sans','Helvetica Neue';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #333;
}

p {
    font-family: 'Open Sans','Helvetica Neue';
    font-size: 16px;
}

a {
    color: #3F6E90;
    text-decoration: none;
}

a:hover {
    color: #34495e;
}

/** Centered Page Properties **/
body#centered {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

#centered div {
    margin: 0 auto 30px;
}

#centered header h1 {
    margin: 0 0 0px;
}

#centered header h2 {
    margin: 0 0 10px;
}

#centered header p {
    margin: 0;
}

#centered header span {
    color: #686C74;
    white-space: nowrap;
}

#centered header strong {
    color: #333;
}

@media screen and (min-width:500px) {
    ul {
        -moz-column-count: 2;
        -moz-column-gap: 0em;
        -webkit-column-count: 2;
        -webkit-column-gap: 0em;
        column-count: 2;
        column-gap: 0em;

        line-height: 1.5em;

    }
}

@media screen and (max-width:499px) {
    ul {
        line-height: 2em;
    }
}


ul {
    margin: 30px 0 0;
    padding: 0;
    font-family: 'Open Sans','Helvetica Neue';
    font-size: 16px;
    list-style: none;
}

/** Portfolio page properties **/
div#wrapper {
    max-width: 600px;
    margin: 0 auto;
}

#portfolio header {
    text-align: center;
}

#portfolio header h1 {
    margin: 40px 0 0px;
}

#portfolio header p {
    text-transform: uppercase;
    margin: 0;
}

#portfolio section {
    line-height: 125%;
}

footer{
    text-align: center;
}
